* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-color: rgb(24, 24, 24);
  font-family: league spartan, sans-serif;
}

.header-label {
  margin-top: 40px;
  font: normal 900 clamp(36px, 6vw, 72px) league spartan, sans-serif;
  -webkit-text-stroke: 2px rgb(151, 145, 145);
  color: rgb(24, 24, 24);
  text-transform: uppercase;
  text-align: right;
  margin-right: 10px;
  animation: slide-in 1s, opacity-slide-in 1.5s ease-in-out;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile-image {
  z-index: 100;
  height: 580px;
  width: clamp(320px, 100%, 415px);
  border-radius: 32px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.6s;
}
.profile-image:hover {
  scale: 1.03;
}
.top {
  display: flex;
  margin-top: 40px;
  margin: 40px 40px 0px 50px;
  gap: 80px;
}
.hr-inbetween,
.hr-insegment {
  margin: 50px 8% 50px 8%;
  border: 0.1px solid rgb(49, 48, 48);
}
.hr-insegment {
  margin: 20px 35% 0px 35%;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
.heading {
  font: normal 800 42px league spartan, sans-serif;
  color: rgb(71, 68, 68);
  text-transform: uppercase;
  animation: slide-in-reverse 1s, opacity-slide-in 2s ease-in-out;
}
.head-span {
  color: rgb(151, 145, 145);
}
.my-description {
  font: normal 800 24px league spartan, sans-serif;
  color: rgb(78, 75, 75);
  text-transform: uppercase;
  line-height: 31px;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  animation: slide-in-sideways 1.4s, opacity-slide-in 2.5s ease-in-out;
}
.description-section {
  max-width: 720px;
}

.about-me,
.personal_heading {
  text-align: center;
}
.personal_heading {
  margin-top: 70px;
}
.personal_details {
  font-size: 22px;
  font-weight: 700;
  display: flex;
}

.personal-info-section {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 45px;
}
.contacts {
  margin-top: 22px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.contact-list:hover {
  cursor: pointer;
  scale: 1.15;
  transition: all 0.4s;
  background: #272727;
}
.contact-list {
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid rgb(54, 51, 51);
}
.link {
  margin-top: 3.5px;
  width: 28px;
  height: 28px;
}
.name {
  margin-bottom: 22px;
}
.education {
  margin-top: 40px;
}
.education-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.school,
.college {
  display: flex;
  width: 520px;
  gap: 16px;
}
.year-label {
  font: normal 800 16px league spartan, sans-serif;
  color: rgb(151, 145, 145);
  background: #333333;
  width: max-content;
  padding: 6px 9px 4px 9px;
  border-radius: 12px;
  margin-bottom: 12px;
}
.schooling {
  font-size: 22px;
}
.icon {
  width: 32px;
}
.footer-label {
  text-align: center;
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 700;
}
.js {
  color: rgb(237, 216, 81);
}
.react {
  color: #69cce5;
}
.web {
  color: #cf9fff;
}
.square {
  bottom: -100px;
  z-index: -1;
  height: 35px;
  width: 35px;
  position: absolute;
  border: 1px solid rgb(72, 71, 71);
  opacity: 0.2;
  animation: boxes 20s infinite linear;
}
.s1 {
  background-color: rgb(237, 216, 81);
  left: 20%;
  animation-delay: 0.5s;
}

.s2 {
  background-color: #69cce5;

  left: 25%;
  animation-delay: 8s;
}
.s3 {
  background-color: #cf9fff;

  left: 35%;
  animation-delay: 9s;
}
.s4 {
  background-color: #69cce5;
  left: 35%;
  animation-delay: 3s;
}
.s5 {
  background-color: #69cce5;

  left: 45%;
  animation-delay: 7s;
}
.s6 {
  background-color: rgb(237, 216, 81);

  left: 55%;
  animation-delay: 2s;
}
.s7 {
  background-color: #cf9fff;
  left: 73%;
  animation-delay: 8s;
}
.s8 {
  background-color: #69cce5;
  left: 73%;
  animation-delay: 4s;
}
.s9 {
  background-color: rgb(237, 216, 81);

  left: 90%;
  animation-delay: 5s;
}
.s10 {
  background-color: #cf9fff;
  left: 90%;
  animation-delay: 1s;
}

@keyframes boxes {
  0% {
    bottom: -100px;
  }

  100% {
    bottom: 102.6%;
    transform: rotate(180deg);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-reverse {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes slide-in-sideways {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes opacity-slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 501px) {
  .middle,
  .top,
  .bottom {
    margin: 0 25px 0 25px;
  }
  .header-label {
    margin-top: 20px;
    margin-right: 6px;
    font-size: 26px;
    font-weight: 800;
    -webkit-text-stroke: 1px rgb(151, 145, 145);
  }
  .top {
    flex-direction: column;
    margin-top: 20px;
    gap: 40px;
  }
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .heading {
    font-size: 22px;
  }
  .my-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    word-spacing: 0px;
    letter-spacing: 0px;
  }
  .hr-inbetween {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .personal-info-section {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .name {
    margin-bottom: 12px;
  }
  .personal_details {
    font-size: 19px;
  }
  .bottom-personal-details {
    margin-left: 27px;
  }
  .education {
    margin-top: 30px;
  }
  .education-details {
    margin-top: 30px;
    gap: 30px;
  }
  .icon {
    width: 26px;
  }
  .school,
  .college {
    display: flex;
    gap: 5px;
    width: 100%;
  }
  .schooling {
    font-size: 19px;
    font-weight: 700;
  }
  .year-label {
    font-size: 13px;
    font-weight: 700;
  }
  .footer-label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .contacts {
    margin-bottom: 50px;
    gap: 20px;
  }
  .contact-list {
    height: 38px;
    width: 38px;
  }
  .link {
    height: 22px;
    width: 22px;
  }
}
@media (min-width: 502px) and (max-width: 860px) {
  .middle,
  .top,
  .bottom {
    margin: 30px 25px 0 25px;
  }
  .top,
  .personal-info-section {
    flex-direction: column;
  }
  .personal-info-section {
    align-items: center;
    gap: 0;
  }
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-image {
    border-radius: 50%;
    height: 400px;
    width: 400px;
  }
}
